bash
curl
htop
nano
vim-full
dnsmasq-full
ca-bundle
ip-full
ruby
ruby-yaml
kmod-tun
kmod-inet-diag
unzip
kmod-nft-tproxy
luci-compat
luci 
luci-base
luci-i18n-base-zh-cn
luci-app-firewall
luci-i18n-firewall-zh-cn
luci-app-nlbwmon
luci-i18n-nlbwmon-zh-cn
luci-theme-argon
luci-i18n-wol-zh-cn
luci-app-openclash
